
body, html 
{
   height: 100%;
  margin: 0px;}

.mountains {background-image: url("images/mountains.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
